.title {
    font-size: 33px;
    text-align: center;
    margin-top: 20px;
 }

 /* Hide the wrapper initially */
 #wrapper {
    display: none;
 }

 /* Style for the bill information */
 .bill-information {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }

 /* Style for the bill table */
 .bill {
    width: 220%;
    border-collapse: collapse;
 }

 .bill th,
 .bill td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
 }

 .bill th {
    background-color: #f2f2f2;
 }

 /* Style for the bill detail wrapper */
 .bill_detail-wrapper {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
 }

 /* Style for the close button */
 .close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
 }

 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }

 /* Style for the bill detail table */
 .bill-detail {
    position: relative;
    top: 180px;
    margin: 5% auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }

 .bill-detail th,
 .bill-detail td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
 }

 .bill-detail th {
    background-color: #f2f2f2;
 }