
.body-wrapper {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 45%;
    margin: 100px auto;
 }
 
 .title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
 }
 
 .wrapper-user-information {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }
 
 .header-title, .body-title{
    margin-bottom: 15px;
 }
 
 .header-title, .body-title {
    display: flex;
    justify-content: space-between;
 }
 
 .name, .gender, .phone, .email, .date, .address {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
 }
 
 .fa-gear {
    margin-left: 5px;
    color: #999;
 }
 
 .fill-in_date, .fill-in_address {
    margin-bottom: 15px;
    display: flex;
    align-items: center; /* căn các phần tử theo chiều dọc */
 }
 
 .fill-in_date .fa-gear,
 .fill-in_address .fa-gear {
    margin-left: 5px;
    color: #999;
    flex-shrink: 0; /* không cho phần tử này co lại */
 }
 